:root {
    --background-color: rgb(40, 42, 49);
    --background-titulo: rgb(61, 63, 73);
    --color-titulo: aliceblue;
    --color-texto: rgb(248, 255, 240);
}

body {
    background-color: var(--background-color);
    overflow: auto; /* permite scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
    display: none;
}


.title_background {
    background-color: var(--background-titulo);
    padding: 1px;
    width: 100%;
    margin: 5% 0 5% 0;
}

h1 {
    display: flex;
    justify-content: center;
    color: var(--color-titulo);
    font-family: "Baskervville", serif;
    font-size: 5vw;
    letter-spacing: 1px;
    text-align: justify;
}

p {
    font-family: "Baskervville", serif;
    letter-spacing: 1px;
    text-align: justify;
}

.content{
    margin: 0 3%;
    display: grid;
    justify-content: center;
    gap: 2%;
    text-align: justify;
}

.text1 {
    color: var(--color-texto);
    text-align: start;
    font-family: "Baskervville", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3vw;
    letter-spacing: 1px;
    text-align: justify;
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 2vw;
    }

    
}

/* Acordion texto desplegable */
.accordion {
  width: 300px;
  font-family: Arial;
}

.accordion-btn {
    width: 90vw;
    background: var(--background-titulo);
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    border-radius: 10px;
    transition-duration: 0.2s;
    font-family: "Baskervville", serif;
    letter-spacing: 1px;
    text-align: justify;

}

.accordion-btn:hover {
  background: #383b3d;
  transform: scale(1.005);
}

.accordion-content {
    width: 80vw;
    max-height: 0;
    overflow: hidden;
    color: var(--color-texto);
    padding: 0 12px;
    transition: max-height 0.3s ;

}

.accordion-content.show {
  max-height: 200px; /* Ajustá según el texto */
  padding: 12px;
}

.link {
    text-decoration: none;
    color: rgba(42, 127, 201, 0.641);
    font-size: 1.5vw;

}

.link:hover {
    transform: scale(1.005);
}

.footer {
    color: #84828246;                  /* Texto blanco */
    text-align: center;           /* Centrado */
    padding: 15px 10px;           /* Espacio interno */
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;           /* Para que no se superponga */
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 600px) {
  .footer {
    font-size: 12px;
    padding: 10px 5px;
  }


  .link {
    font-size: 2.7vw;
    }
}